.wp-block-wporg-search-post {
	.wp-block-post-excerpt {
		margin: var(--wp--preset--spacing--10) 0 var(--wp--preset--spacing--10);
	}

	.wp-block-post-excerpt__excerpt {
		font-size: var(--wp--preset--font-size--small);
		margin: 0;
	}
}
