.wp-block-wporg-code-table {
	&#uses,
	&#used-by {
		/* stylelint-disable-next-line max-line-length */
		scroll-margin-top: calc(var(--wp--custom--local-navigation-bar--spacing--height, 0) + var(--wp--preset--spacing--20));
	}

	.wp-block-table {
		thead {
			border-bottom: none;
		}

		th,
		td {
			border-right: none;
			border-left: none;
			padding: var(--wp--preset--spacing--10) var(--wp--preset--spacing--10) var(--wp--preset--spacing--10) 0;
			font-size: var(--wp--preset--font-size--normal);
			width: 50%;
		}

		th {
			border-top: none;
			font-weight: 700;
		}

		td p {
			margin: 0;
		}

		td a {
			text-decoration: underline;
			word-break: break-word;
		}

		tr td:first-child {
			a,
			code {
				display: block;
			}
		}

		code {
			color: var(--wp--preset--color--charcoal-4);
			font-size: var(--wp--preset--font-size--small);
			word-break: break-all;
		}

		.wporg-hidden {
			display: none;
		}
	}

	.wp-block-wporg-code-table-show-more,
	.wp-block-wporg-code-table-show-less {
		text-decoration: underline;
	}

	.wp-block-wporg-code-table-show-less {
		display: none;
	}

	&.is-responsive {

		@media screen and (max-width: 500px) {
			tr {
				padding: calc(var(--wp--preset--spacing--10) / 2) 0;
				display: flex;
				flex-direction: column;
				border-bottom: 1px solid var(--wp--preset--color--light-grey-1);

				&:last-child {
					border-bottom: none;
				}
			}

			.wp-block-table {
				th,
				td {
					padding: calc(var(--wp--preset--spacing--10) / 2);
					width: 100%;
				}

				td {
					border: none;
				}
			}
		}

		@media screen and (min-width: 501px) {
			.wp-block-table th:first-child,
			.wp-block-table td:first-child {
				width: 40%;
			}
		}
	}
}

.expanded.wp-block-wporg-code-table {
	.wporg-hidden {
		display: table-row;
	}

	.wp-block-wporg-code-table-show-more {
		display: none;
	}

	.wp-block-wporg-code-table-show-less {
		display: block;
	}
}
