/************************************
 * Interface elements.
 ************************************/

.syntaxhighlighter {
	background-color: #0F192A !important;
}

/* Gutter line numbers */
.syntaxhighlighter .gutter .line {
	color: rgba(200, 234, 255, 0.48) !important;
}

/* Add border to the lines */
.syntaxhighlighter .line .content {
	border-left: 3px solid #435A5F !important;
	color: #B9BDB6 !important;
}

.syntaxhighlighter.printing .line .content {
	border: 0 !important;
}

/* First line */
.syntaxhighlighter .line.alt1 {
	background-color: #0F192A !important;
}

/* Second line */
.syntaxhighlighter .line.alt2 {
	background-color: #0F192A !important;
}

/* Highlighed line number */
.syntaxhighlighter .line.highlighted .number {
	background-color: #253E5A !important;
	color: #fff !important;
}

/* Highlighed line */
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
	background-color: #253E5A !important;
}

.syntaxhighlighter .toolbar {
	background-color: #0F192A !important;
}

.syntaxhighlighter .toolbar a {
	color: #38566F !important;
}

.syntaxhighlighter .toolbar a:hover {
	color: #8AA6C1 !important;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter ::selection {
	background: #373b41 !important;
	color: #c5c8c6 !important;
}

.syntaxhighlighter td {
	padding: 0;
}

.syntaxhighlighter .line.alt1 {
	background-color: #1d1f21 !important;
}

.syntaxhighlighter .line.alt2 {
	background-color: #1d1f21 !important;
}

.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
	background-color: #282a2e !important;
}

.syntaxhighlighter .line.highlighted.number {
	color: #94A2A2 !important;
}

.syntaxhighlighter table caption {
	color: #94A2A2 !important;
	background-color: #4B4C4F !important;
	border-bottom: 1px solid #666767 !important;
}

.syntaxhighlighter table td.gutter .line,
.syntaxhighlighter table td.code .line {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.syntaxhighlighter .gutter {
	text-align: right;
	color: #767676 !important;
}

.syntaxhighlighter .gutter .line {
	padding-right: 20px;
	background: #4B4C4F !important;
}

/*.syntaxhighlighter table td.gutter .line {
	font-size: .8rem !important;
	padding-top: .15rem !important;
	padding-bottom: .1rem !important;
}*/
.syntaxhighlighter .gutter .line.highlighted {
	background-color: #1d1f21 !important;
	/*	color: #c5c8c6 !important;*/
}

.syntaxhighlighter.printing .line .content {
	border: none !important;
}

.syntaxhighlighter.collapsed {
	overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
	color: #1d1f21 !important;
	background: #b5bd68 !important;
}

.syntaxhighlighter.collapsed .toolbar a {
	color: #1d1f21 !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
	color: #cc6666 !important;
}

.syntaxhighlighter .toolbar {
	color: #1d1f21 !important;
	background: #b5bd68 !important;
	border: none !important;
}

.syntaxhighlighter .toolbar a {
	color: #1d1f21 !important;
}

.syntaxhighlighter .toolbar a:hover {
	color: #94A2A2 !important;
}

.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
	color: #94A2A2 !important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
	color: #969896 !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a {
	color: #b5bd68 !important;
}

.syntaxhighlighter .keyword {
	color: #de935f !important;
}

.syntaxhighlighter .preprocessor {
	color: #c5c8c6 !important;
}

.syntaxhighlighter .variable {
	color: #81a2be !important;
}

.syntaxhighlighter .value {
	color: #b5bd68 !important;
}

.syntaxhighlighter .functions {
	color: #cc6666 !important;
}

.syntaxhighlighter .constants {
	color: #B294BB !important;
}

.syntaxhighlighter .script {
	font-weight: bold !important;
	color: #de935f !important;
	background-color: none !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
	color: #c5c8c6 !important;
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
	color: #F0C674 !important;
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
	color: #cc6666 !important;
}



/**** Design overrides ***/
.page-content .syntaxhighlighter {
	font-size: 15px !important;
	background-color: var(--wp--preset--color--dark-strokes-grey) !important;
	padding: 0 1.4em !important;
	width: auto !important;
	overflow: hidden !important;
}

.page-content .syntaxhighlighter code,
.page-content .syntaxhighlighter div {
	font-family: Menlo, Consolas, monospace !important;
}

.page-content .syntaxhighlighter:after {
	content: "";
	position: absolute;
	top: -25px;
	right: -25px;
	background: var(--wp--preset--color--white);
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
}

.page-content .syntaxhighlighter table {
	table-layout: fixed !important;
}

.page-content .syntaxhighlighter table td.gutter {
	width: 45px !important;
	padding: 1.4em 0 !important;
}

.page-content .syntaxhighlighter table td.code {
	width: 100% !important;
	overflow: scroll !important;
	padding: 1.4em 0 !important;
}

.page-content .syntaxhighlighter table td.code .line,
.page-content .syntaxhighlighter table td.gutter .line {
	padding: 0 0.5em 0.5em 0 !important;
}

.page-content .syntaxhighlighter .line.alt2,
.page-content .syntaxhighlighter .line.alt1 {
	background: none !important;
}
