.wp-block-wporg-code-reference-return-value {
	.return-type,
	.type {
		font-family: var(--wp--preset--font-family--monospace);
		font-size: var(--wp--preset--font-size--small);
		color: var(--wp--preset--color--syntax-red);
	}
}
