$single-handbook-content-width: 960px;
$single-handbook-content-width-primary-proportion: 0.72;
$single-handbook-toc-position-top: 200px;
$single-handbook-content-padding-horizontal: "max( 20px, 2% )";

$devhub-wrap-content-width: 60em;
$devhub-wrap-toc-position-top: 210px;
$devhub-wrap-content-padding-horizontal: 24px;