# Hide changes in diffs for all minimized JS and lock files by default.
# See https://docs.github.com/en/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github
*.min.js  linguist-generated
*.lock    linguist-generated

# Hide changes to built stylesheets
source/wp-content/themes/wporg-developer/stylesheets/admin.css           linguist-generated
source/wp-content/themes/wporg-developer/stylesheets/main.css            linguist-generated
source/wp-content/themes/wporg-developer/stylesheets/page-dashicons.css  linguist-generated
source/wp-content/themes/wporg-developer/stylesheets/prism.css           linguist-generated
