/**/.DS_STORE
/**/.idea
/**/.svn
/**/build
/**/node_modules
/vendor
*.map
wp-cli.yml

# Allow local environment overrides.
.wp-env.override.json
.env/0-sandbox.php

# Configs from wporg-repo-tools.
.eslintrc.js
.prettierrc.js
.stylelintrc
phpcs.xml.dist

# Ignore everything in source...
/source/wp-content/*
/source/wp-content/plugins/*
/source/wp-content/themes/*

# ...except the actual source of this project.
!/source/wp-content/themes
!/source/wp-content/themes/wporg-developer-2023
