.wp-block-wporg-search-post {
	.wp-block-post-excerpt {
		margin: calc(var(--wp--preset--spacing--10) / 2) 0;
	}

	.wp-block-post-excerpt__excerpt {
		margin: 0;
	}

	&:not(.wp-block-wporg-search-post-parsed) {
		.wp-block-post-excerpt__excerpt {
			font-size: var(--wp--preset--font-size--small);
			line-height: var(--wp--custom--body--small--typography--line-height);
		}
	}
}
