.wp-block-wporg-chapter-list {
	--local--line-height: var(--wp--custom--body--small--typography--line-height);
	--local--icon-size: calc(var(--local--line-height) * 1em);
	line-height: var(--local--line-height);

	ul {
		margin-top: 0;
		margin-bottom: 0;
		list-style-type: none;
	}

	ul ul {
		padding-left: 0;

		li {
			padding-left: var(--local--icon-size);
			position: relative;

			&::before {
				content: "";
				display: inline-block;
				position: absolute;
				left: 0;
				width: var(--local--icon-size);
				height: var(--local--icon-size);
				mask-image: url(../../images/dot.svg);
				mask-repeat: no-repeat;
				mask-position: center;
				background-color: var(--wp--preset--color--charcoal-4);
			}
		}
	}

	li {
		margin-block: calc(var(--wp--preset--spacing--20) / 4);
		color: var(--wp--preset--color--charcoal-4);
	}

	> ul {
		padding-left: 0;

		> li {
			margin-block: calc(var(--wp--preset--spacing--20) / 2);
		}
	}

	a {
		text-decoration: none;
	}

	&.has-js-control ul ul {
		display: none;
		padding-left: 14px;

		.page_item_has_children {
			padding-left: 0;

			&::before {
				display: none;
			}
		}

		&.is-open {
			display: revert;
		}
	}

	.wporg-chapter-list--button-group {
		display: flex;
		align-items: flex-start;
	}

	.wporg-chapter-list--button-group > button {
		font-size: inherit;
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;
			height: var(--local--icon-size);
			width: var(--local--icon-size);
			mask-image: url(../../images/chevron-small.svg);
			mask-repeat: no-repeat;
			mask-position: center;
			transform: rotate(-90deg);
			background-color: var(--wp--preset--color--charcoal-4);
		}

		&[aria-expanded="true"]::before {
			transform: revert;
		}

		&:focus-visible {
			outline: 1px dashed var(--wp--preset--color--blueberry-1);
		}
	}

	// Descendent is `span` if there are children, or `a` if not.
	.current_page_item,
	.current_page_item > span a,
	.current_page_item > a {
		color: var(--wp--preset--color--charcoal-1);
	}

	.current_page_item > span a,
	.current_page_item > a {
		font-weight: 700;
	}

	.current_page_item > span button::before {
		background-color: var(--wp--preset--color--charcoal-1);
	}
}
