.wp-block-wporg-cli-command-table {

	@media screen and (max-width: 500px) {
		thead {
			display: none;
		}

		tr {
			padding: calc(var(--wp--preset--spacing--10) / 2) 0;
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid var(--wp--preset--color--light-grey-1);

			&:last-child {
				border-bottom: none;
			}
		}

		.wp-block-table {
			td {
				border: none;
				padding: calc(var(--wp--preset--spacing--10) / 2);
				width: 100%;
			}
		}
	}

	.wp-block-table th:first-child,
	.wp-block-table td:first-child {
		width: 40%;
	}
}
