<!-- wp:template-part {"slug":"internal-page-header","theme":"wporg-developer-v2"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"}},"className":"main-content","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","orientation":"horizontal"}} -->
<main class="wp-block-group main-content" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:template-part {"slug":"sidebar","theme":"wporg-developer-v2","tagName":"section","className":"navigation-sidebar"} /-->

	<!-- wp:template-part {"slug":"content","theme":"wporg-developer-v2","tagName":"section","className":"page-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wporg-developer-v2","tagName":"footer","className":"docs-footer"} /-->
