<!-- wp:template-part {"slug":"landing-header","theme":"wporg-developer-v2"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"}},"className":"main-content front-content","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<main class="wp-block-group main-content front-content" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/reference">Code Reference</a> </h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Looking for documentation for the codebase?</p>
		<!-- /wp:paragraph -->

		<!-- wp:list {"className":"wp-block-wporg-developer-docs-navigation"} -->
		<ul class="wp-block-wporg-developer-docs-navigation">
			<li><a href="/reference" data-type="URL" data-id="/reference">Search codebase</a></li>
			<li><a href="/reference/functions">Functions</a></li>
			<li><a href="/reference/hooks">Hooks</a></li>
			<li><a href="/reference/classes">Classes</a></li>
			<li><a href="/reference/methods">Methods</a></li>
		</ul>
		<!-- /wp:list -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/block-editor">Block Editor</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Creating the building blocks of WordPress?</p>
		<!-- /wp:paragraph -->

		<!-- wp:wporg-developer/docs-navigation {"handbook":"blocks-handbook"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/themes">Creating Themes</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Want to learn how to start theming WordPress?</p>
		<!-- /wp:paragraph -->

		<!-- wp:wporg-developer/docs-navigation {"handbook":"theme-handbook"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/plugins">Creating Plugins</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Ready to dive deep into the world of plugin authoring?</p>
		<!-- /wp:paragraph -->

		<!-- wp:wporg-developer/docs-navigation {"handbook":"plugin-handbook"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/apis">Common APIs</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Interested in interacting with various APIs?</p>
		<!-- /wp:paragraph -->

		<!-- wp:wporg-developer/docs-navigation {"handbook":"apis-handbook"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/rest-api">REST-API</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Getting started on making WordPress applications?</p>
		<!-- /wp:paragraph -->

		<!-- wp:wporg-developer/docs-navigation {"handbook":"rest-api-handbook"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/cli/commands">WP-CLI</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Want to accelerate your workflow managing WordPress?</p>
		<!-- /wp:paragraph -->

		<!-- wp:wporg-developer/docs-navigation {"handbook":"command"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/coding-standards">Coding Standards</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Looking to ensure your code meets the standards?</p>
		<!-- /wp:paragraph -->

		<!-- wp:wporg-developer/docs-navigation {"handbook":"wpcs-handbook"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wporg-developer-v2","className":"template-part-footer"} /-->
