<!-- wp:template-part {"slug":"header-front-page","theme":"wporg-developer-blocks"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"}},"className":"main-content front-content","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<main class="wp-block-group main-content front-content" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/reference">Code Reference</a> </h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Search the code reference for more information on WordPress internals, including how to use available
			functions, classes, methods, and hooks.</p>
		<!-- /wp:paragraph -->

		<!-- wp:list {"className":"wp-block-wporg-developer-docs-navigation"} -->
		<ul class="wp-block-wporg-developer-docs-navigation">
			<li><a href="/reference" data-type="URL" data-id="/reference">Search codebase</a></li>
			<li><a href="/reference/functions">Functions</a></li>
			<li><a href="/reference/hooks">Hooks</a></li>
			<li><a href="/reference/classes">Classes</a></li>
			<li><a href="/reference/methods">Methods</a></li>
		</ul>
		<!-- /wp:list -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/block-editor">Block Editor</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>The block editor is the new way to build with WordPress. Learn how to build your first block, pattern, and
			make use of the full site editor.</p>
		<!-- /wp:paragraph -->

		<!-- wp:list {"className":"wp-block-wporg-developer-docs-navigation"} -->
		<ul class="wp-block-wporg-developer-docs-navigation">
			<li><a href="/block-editor/getting-started/">Getting Started</a></li>
			<li><a href="/block-editor/how-to-guides/">How-to Guides</a></li>
			<li><a href="/block-editor/reference-guides/">Reference Guides</a></li>
			<li><a href="/block-editor/explanations/">Explanations</a></li>
			<li><a href="/block-editor/contributors/">Contributor Guide</a></li>
			<li><a href="/block-editor/">More</a> → </li>
		</ul>
		<!-- /wp:list -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/themes">Creating Themes</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Themes are where your WordPress site gets its design. Learn how to build block themes and more.</p>
		<!-- /wp:paragraph -->

		<!-- wp:list {"className":"wp-block-wporg-developer-docs-navigation"} -->
		<ul class="wp-block-wporg-developer-docs-navigation">
			<li><a href="/themes/getting-started/">Getting Started</a></li>
			<li><a href="/reference" data-type="URL" data-id="/reference">Theme Basics</a></li>
			<li><a href="/themes/block-themes/">Block Themes</a></li>
			<li><a href="/themes/classic-themes/">Classic Themes</a></li>
			<li><a href="/themes/advanced-topics/">Advanced Theme Topics</a></li>
			<li><a href="/themes/">More</a> → </li>
		</ul>
		<!-- /wp:list -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/plugins">Creating Plugins</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Ready to dive deep into the world of plugin authoring? WordPress can be extended in unlimited ways, plugins
			are the way to achieve this.</p>
		<!-- /wp:paragraph -->

		<!-- wp:list {"className":"wp-block-wporg-developer-docs-navigation"} -->
		<ul class="wp-block-wporg-developer-docs-navigation">
			<li><a href="/plugins/intro/">Intro to Plugin Development</a></li>
			<li><a href="/plugins/plugin-basics/" data-type="URL">Plugin Basics</a></li>
			<li><a href="/plugins/security/">Plugin Security</a></li>
			<li><a href="/plugins/administration-menus/">Admin Menus</a></li>
			<li><a href="/plugins/settings/">Settings</a></li>
			<li><a href="/plugins/">More</a> → </li>
		</ul>
		<!-- /wp:list -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/apis">Common APIs</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Interested in interacting with various APIs?</p>
		<!-- /wp:paragraph -->

		<!-- wp:list {"className":"wp-block-wporg-developer-docs-navigation"} -->
		<ul class="wp-block-wporg-developer-docs-navigation">
			<li><a href="/apis/handbook/database">Database API</a></li>
			<li><a href="/apis/handbook/metadata">Metadata</a></li>
			<li><a href="/apis/handbook/rest">REST</a></li>
			<li><a href="/apis/handbook/options">Options</a></li>
			<li><a href="/apis/handbook/settings">Settings</a></li>
			<li><a href="/apis/handbook">More</a> → </li>
		</ul>
		<!-- /wp:list -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/rest-api">REST-API</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Getting started on making WordPress applications?</p>
		<!-- /wp:paragraph -->

		<!-- wp:list {"className":"wp-block-wporg-developer-docs-navigation"} -->
		<ul class="wp-block-wporg-developer-docs-navigation">
			<li><a href="/rest-api/using-the-rest-api/">Using the REST-API</a></li>
			<li><a href="/rest-api/key-concepts/">Key Concepts</a></li>
			<li><a href="/rest-api/requests/">Making Requests</a></li>
			<li><a href="/rest-api/reference/">Endpoint Reference</a></li>
			<li><a href="/rest-api/frequently-asked-questions/">Frequently Asked Questions</a></li>
			<li><a href="/rest-api">More</a> → </li>
		</ul>
		<!-- /wp:list -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/cli/commands">WP-CLI</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Want to accelerate your workflow managing WordPress?</p>
		<!-- /wp:paragraph -->

		<!-- wp:list {"className":"wp-block-wporg-developer-docs-navigation"} -->
		<ul class="wp-block-wporg-developer-docs-navigation">
			<li><a href="/cli/commands/cache">WP Cache</a></li>
			<li><a href="/cli/commands/cap">WP Cap</a></li>
			<li><a href="/cli/commands/config">WP Config</a></li>
			<li><a href="/cli/commands/comment">WP Comment</a></li>
			<li><a href="/cli">More</a> → </li>
		</ul>
		<!-- /wp:list -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
	<div class="wp-block-group">
		<!-- wp:heading -->
		<h2><a href="/coding-standards">Coding Standards</a></h2>
		<!-- /wp:heading -->

		<!-- wp:paragraph -->
		<p>Looking to ensure your code meets the standards?</p>
		<!-- /wp:paragraph -->

		<!-- wp:list {"className":"wp-block-wporg-developer-docs-navigation"} -->
		<ul class="wp-block-wporg-developer-docs-navigation">
			<li><a href="/coding-standards/wordpress-coding-standards">The WordPress Coding Standards</a></li>
			<li><a href="/coding-standards/inline-documentation-standards">Inline Documentation Standards</a></li>
			<li><a href="/coding-standards/styleguide">Markdown Style Guide</a></li>
			<li><a href="/coding-standards/changelog">Changelog</a></li>
			<li><a href="/coding-standards">More</a> → </li>
		</ul>
		<!-- /wp:list -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wporg-developer-blocks","className":"template-part-footer"} /-->
