.wp-block-wporg-code-reference-comment-form {
	padding-bottom: var(--wp--style--block-gap);

	p {
		margin-block-start: var(--wp--style--block-gap);
		margin-block-end: var(--wp--style--block-gap);
	}
}
