.breadcrumb-trail  {
	font-size: var(--wp--preset--font-size--small);

	@media (max-width: 1100px) {
		&.breadcrumb-count-5 span:nth-child(3),
		&.breadcrumb-count-5 span:nth-child(4) { // Separator
			display: none;
		}
	}

	@media (max-width: 1000px) {
		&.breadcrumb-count-5 span:nth-child(3),
		&.breadcrumb-count-5 span:nth-child(4), // Separator
		&.breadcrumb-count-5 span:nth-child(5),
		&.breadcrumb-count-5 span:nth-child(6) { // Separator
			display: none;
		}

		&.breadcrumb-count-4 span:nth-child(3),
		&.breadcrumb-count-4 span:nth-child(4)  { // Separator
			display: none;
		}
	}

	@media (max-width: 781px) {
		span:not(:first-child, :nth-child(2), :last-child) {
			display: none;
		}
	}

	@media (max-width: 599px) {
		width: calc(100% - 44px);

		span:not(:first-child) {
			display: none;
		}
	}

	span:last-child{
		font-weight: 700;
	}
}
