.wp-block-wporg-code-reference-title {
	font-size: var(--wp--preset--font-size--extra-large);
	line-height: 1.73;
	font-family: var(--wp--preset--font-family--monospace);
	font-weight: 400;
	color: #008a20;

	.hook-func,
	.keyword {
		color: #646970;
	}

	.arg-type {
		color: #d63638;
	}

	.arg-name {
		color: #135e96;
	}

	.arg-default {
		color: #000;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	a:hover,
	a:focus {
		text-decoration: none;
		border-bottom: 1px dotted #2271b1;
	}
}
