<!-- wp:template-part {"slug":"header","className":"has-display-contents"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","wideSize":"1760px","contentSize":"680px"},"style":{"spacing":{"padding":{"left":"var:preset|spacing|edge-space","right":"var:preset|spacing|edge-space"}}}} -->
<main class="wp-block-group alignfull" style="padding-left:var(--wp--preset--spacing--edge-space);padding-right:var(--wp--preset--spacing--edge-space)">

	<!-- wp:pattern {"slug":"wporg-developer-2023/search-field"} /-->

	<!-- wp:group {"className":"has-three-columns","align":"wide","style":{"spacing":{"margin":{"top":"40px"},"blockGap":"var:preset|spacing|50"}}}}} -->
	<div class="wp-block-group alignwide has-three-columns" style="margin-top:40px">

		<!-- wp:wporg/chapter-list {"style":{"spacing":{"margin":{"bottom":"40px"}}}} /-->

		<!-- wp:group {"tagName":"article","style":{"spacing":{"margin":{"top":"0px"}}}} -->
		<article class="wp-block-group" style="margin-top:0px">
			<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"40px"}}}} /-->

			<!-- wp:pattern {"slug":"wporg-developer-2023/article-sidebar"} /-->

			<!-- wp:post-content /-->

			<!-- wp:pattern {"slug":"wporg-developer-2023/article-meta"} /-->

			<!-- wp:pattern {"slug":"wporg-developer-2023/handbook-pagination"} /-->
		</article>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
