/*
 * Theme Name: WordPress.org Developer, 2023
 * Theme URI: https://github.com/WordPress/wporg-developer-2023
 * Author: WordPress.org
 * Author URI: https://wordpress.org/
 * Description: A block-based child theme for developer.wordPress.org/
 * Version: 1.0.0
 * License: GNU General Public License v2 or later
 * Text Domain: wporg
 * Template: wporg-parent-2021
 */

/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */
