.wp-block-wporg-code-short-title {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-family: var(--wp--preset--font-family--inter);
	font-weight: 700;
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--body--small--typography--line-height);

	&.wp-block-wporg-code-short-title-parsed a {
		font-family: var(--wp--preset--font-family--monospace);
		font-size: var(--wp--preset--font-size--extra-large);
		line-height: var(--wp--custom--body--large--typography--line-height);
		font-weight: 400;
	}
}

@media (min-width: 350px) {
	.wp-block-wporg-code-short-title {
		align-items: center;
		display: flex;
		flex-direction: row;
	}
}

.wp-block-wporg-code-short-title__type {
	font-family: var(--wp--preset--font-family--monospace);
	background: var(--wp--preset--color--light-grey-2);
	border-radius: 2px;
	margin-inline-end: 8px;
	padding: 2px 8px;
	font-weight: 500;
	word-break: keep-all;
}

.wp-block-wporg-code-short-title a {
	display: block;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.wp-block-wporg-code-short-title.function a,
.wp-block-wporg-code-short-title.class a,
.wp-block-wporg-code-short-title.method a,
.wp-block-wporg-code-short-title.hook a {
	word-break: break-all;
}

.function {
	&.wp-block-wporg-code-short-title,
	a {
		color: var(--wp--custom--wporg-code-short-title--color--function);
	}

	.wp-block-wporg-code-short-title__type {
		color: var(--wp--custom--wporg-code-short-title--color--function-type);
		background: var(--wp--custom--wporg-code-short-title--background-color--function-type);
	}
}

.hook {
	&.wp-block-wporg-code-short-title,
	a {
		color: var(--wp--custom--wporg-code-short-title--color--hook);
	}

	.wp-block-wporg-code-short-title__type {
		color: var(--wp--custom--wporg-code-short-title--color--hook-type);
		background: var(--wp--custom--wporg-code-short-title--background-color--hook-type);
	}
}

.class {
	&.wp-block-wporg-code-short-title,
	a {
		color: var(--wp--custom--wporg-code-short-title--color--class);
	}

	.wp-block-wporg-code-short-title__type {
		color: var(--wp--custom--wporg-code-short-title--color--class-type);
		background: var(--wp--custom--wporg-code-short-title--background-color--class-type);
	}
}

.method {
	&.wp-block-wporg-code-short-title,
	a {
		color: var(--wp--custom--wporg-code-short-title--color--method);
	}

	.wp-block-wporg-code-short-title__type {
		background: var(--wp--custom--wporg-code-short-title--background-color--method-type);
	}
}
