<!-- wp:template-part {"slug":"header-alt","className":"has-display-contents"} /-->

<!-- wp:template-part {"slug":"search-wide","className":"has-display-contents"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|edge-space","left":"var:preset|spacing|edge-space"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-right:var(--wp--preset--spacing--edge-space);padding-left:var(--wp--preset--spacing--edge-space)">
	
	<!-- wp:group {"align":"left","className":"has-three-columns","layout":{"type":"flex","flexWrap":"wrap","orientation":"vertical"}} -->
	<div class="wp-block-group alignleft has-three-columns">
		
		<!-- wp:group {"tagName":"main","className":"alignwide"} -->
		<main class="wp-block-group alignwide">

			<!-- wp:group {"tagName":"article","style":{"spacing":{"margin":{"top":"0px"}}}} -->
			<article class="wp-block-group" style="margin-top:0px">
				<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"40px"}}}} /-->

				<!-- wp:pattern {"slug":"wporg-developer-2023/article-sidebar"} /-->

				<!-- wp:post-content /-->

				<!-- wp:pattern {"slug":"wporg-developer-2023/article-meta-github"} /-->

				<!-- wp:pattern {"slug":"wporg-developer-2023/handbook-pagination"} /-->

			</article>
			<!-- /wp:group -->

		</main>
		<!-- /wp:group -->

		<!-- wp:wporg/sidebar-container {"hasBackToTop":false,"inlineBreakpoint": "768px"} -->

			<!-- wp:wporg/chapter-list /-->

		<!-- /wp:wporg/sidebar-container -->

	</div>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"wporg-footer"} /-->
