<!-- wp:template-part {"slug":"header","className":"has-display-contents"} /-->

<!-- wp:template-part {"slug":"search-wide","className":"has-display-contents"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|edge-space","left":"var:preset|spacing|edge-space"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-right:var(--wp--preset--spacing--edge-space);padding-left:var(--wp--preset--spacing--edge-space)">
	
	<!-- wp:group {"align":"left","className":"has-three-columns","layout":{"type":"flex","flexWrap":"wrap","orientation":"vertical"}} -->
	<div class="wp-block-group alignleft has-three-columns">
		
		<!-- wp:group {"tagName":"main","className":"alignwide"} -->
		<main class="wp-block-group alignwide">

			<!-- wp:group {"tagName":"article"} -->
			<article class="wp-block-group">
				
				<!-- wp:wporg/code-reference-title {"style":{"spacing":{"margin":{"bottom":"40px"}}}} /-->

				<!-- wp:pattern {"slug":"wporg-developer-2023/article-sidebar"} /-->

				<!-- wp:wporg/code-reference-deprecated /-->

				<!-- wp:wporg/code-reference-private-access /-->

				<!-- wp:pattern {"slug":"wporg-developer-2023/single-content"} /-->

				<!-- wp:wporg/code-reference-comment-form /-->

			</article>
			<!-- /wp:group -->

		</main>
		<!-- /wp:group -->

	</div>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"wporg-footer"} /-->
