.wp-block-wporg-search-filters {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--wp--preset--spacing--20);
	margin-top: var(--wp--preset--spacing--20);

	input[type="checkbox"] {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		top: 0;
		inset-inline-start: 0;
		width: 1px;
		word-wrap: normal !important;
	}
}
