/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

.search-results .wp-block-post-excerpt {
	margin: var(--wp--preset--spacing--10) 0 var(--wp--preset--spacing--10);
}

.search-results .wp-block-post-excerpt__excerpt {
	margin: 0;
}

.wporg-filtered-search-form {
	display: block;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	--wp--custom--button--hover--color--text: var(--wp--preset--color--charcoal-1);
	--wp--custom--button--hover--color--background: var(--wp--preset--color--light-grey-2);
	padding: 0;
	border: none;
	border-radius: var(--wp--custom--button--border--radius);
	background: var(--wp--preset--color--white);
	color: var(--wp--preset--color--charcoal-1);

	.wp-block-search__input {
		border: none;
	}

	.wp-block-search__button {
		padding-top: calc(var(--wp--preset--spacing--20) * 0.5);
		padding-right: calc(var(--wp--preset--spacing--20) * 0.75);
		padding-bottom: calc(var(--wp--preset--spacing--20) * 0.5);
		padding-left: calc(var(--wp--preset--spacing--20) * 0.75);

		background: transparent;

		svg {
			fill: inherit;
		}
	}
}

.wporg-hero-graphic {
	max-width: 1344px;
}