/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

body[class] {
	// Height of the local header (breadcrumbs & subnav).
	--wp-local-header-offset: 61px;
}

.wporg-breadcrumbs {
	// If the breadcrumbs are present, the space after them needs to be reduced.
	// The next content is typically the search field.
	margin-bottom: calc(var(--wp--preset--spacing--10) * -1);

	@media (max-width: 767px) {
		display: none !important;
	}
}

.entry-content {
	// Parsed handbook content doesn't use image blocks, so large images are
	// missing the max-width and break out of the page container.
	p > img,
	p > a > img {
		max-width: 100%;
	}

	pre:not(.wp-block-code) {
		padding: 20px;
		background-color: #f7f7f7;
		border: 1px solid var(--wp--preset--color--light-grey-1);
		border-radius: 2px;
		overflow: scroll;
	}

	code {
		display: inline-block;
		line-height: var(--wp--custom--body--extra-small--typography--line-height);
		background: var(--wp--preset--color--light-grey-2);
		border-radius: 2px;
		padding-left: 3px;
		padding-right: 3px;
		max-width: 100%;
	}

	table {
		width: 100%;
	}
}

.wporg-filtered-search-form {
	display: block;
}

[dir="rtl"] {
	.is-sticky .wp-block-navigation.is-style-dropdown-on-mobile {
		.wp-block-navigation__responsive-container-open {
			right: unset;
			left: 0;
		}

		.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-close {
			right: unset;
			left: var(--wp--preset--spacing--60);
		}
	}
}


.has-three-columns {
	--local--sidebar--width: 232px;
	--local--column-gap: 40px;

	@media (min-width: 768px) {
		display: grid;
		/* stylelint-disable-next-line max-line-length */
		grid-template-columns: var(--local--sidebar--width) calc(100% - var(--local--sidebar--width) - var(--local--column-gap));
		grid-template-rows: auto auto;
		column-gap: var(--local--column-gap);

		.wp-block-wporg-sidebar-container {
			--local--block-end-sidebar--width: var(--local--sidebar--width);
		}
	}

	@media (min-width: 1200px) {
		width: calc(100% - var(--local--sidebar--width) - var(--local--column-gap));

		article {
			width: 100%;
			max-width: 960px;
			margin-left: auto;
			margin-right: auto;
		}

		.wp-block-wporg-sidebar-container {
			right: var(--wp--preset--spacing--edge-space);
		}
	}
}

.is-toc-heading a::after {
	/* stylelint-disable-next-line function-url-quotes */
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='13' viewBox='0 0 24 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.083 9.91H6.32a3.069 3.069 0 0 1 0-6.139h3.764v1.5H6.32a1.569 1.569 0 0 0 0 3.138h3.764v1.5Zm3.834-6.138h3.764a3.069 3.069 0 0 1 0 6.137h-3.764v-1.5h3.764a1.569 1.569 0 0 0 0-3.137h-3.764v-1.5ZM9.333 7.304h5.334v-1.5H9.333v1.5Z' fill='%233858E9'/%3E%3C/svg%3E%0A");
	height: calc(var(--local--icon-size) * 0.75);
	vertical-align: middle;
	margin-top: -0.15em;
}

// Wrap meta on smaller screens. Double class needed to override core style.
.entry-meta.entry-meta {

	@media (max-width: 781px) {
		flex-wrap: wrap;

		> * {
			min-width: calc(50% - var(--wp--preset--spacing--20) / 2);
		}
	}

	@media (max-width: 479px) {
		> * {
			min-width: 100%;
		}
	}

	time {
		white-space: nowrap;
	}
}

.wporg-hero-graphic {
	overflow: hidden;
}

@media (max-width: 1320px) {
	.wp-block-image.wporg-hero-graphic img {
		margin-left: -1%;
		margin-right: -1%;
		max-width: 102%;
		width: 102%;
	}
}

.wporg-front-page-breadcrumb {
	position: unset; // We don't want it to be sticky on the front page, but removing is-sticky breaks the layout.
}

@media (min-width: 599px) {
	.wporg-front-page-breadcrumb h2 {
		display: none;
	}
}

.wporg-front-page-footer {
	.wp-block-heading a {
		text-decoration: none;

		&:hover {
			text-decoration-line: underline;
		}
	}
}

.home {
	.search-wrap div.awesomplete > ul {
		top: 46px;
	}

	.entry-content {
		--wp--preset--spacing--60: clamp(40px, 5.55556vw, 80px);
	}
}

// Style code tags but not ones inside of the code block.
.wporg-has-embedded-code *:not(.wp-block-code):not(.wp-code-block-button-container) > code {
	padding: 4px 6px;
	background-color: var(--wp--preset--color--light-grey-2);
	font-size: var(--wp--preset--font-size--small);
	border-radius: 2px;
}

.wporg-dot-link-list {
	margin: var(--wp--style--block-gap) 0;

	a {
		position: relative;
		text-decoration: underline;
		margin-right: var(--wp--preset--spacing--10);
		padding-right: var(--wp--preset--spacing--10);

		&::after {
			content: "\b7";
			position: absolute;
			right: -3px;
		}

		&:last-child::after {
			display: none;
		}
	}
}

.wp-editor-container {
	position: relative;
	border: 1px solid var(--wp--preset--color--charcoal-4);

	.quicktags-toolbar {
		padding: 5px;
		background-color: var(--wp--preset--color--white);
		border-bottom: none;

		input[type="button"] {
			background-color: var(--wp--preset--color--white);
			border: none;
			color: var(--wp--preset--color--charcoal-1);
		}
	}
}

.wp-editor-area {
	display: block;
	border: none;
}

.comment-form {
	position: relative;

	.tablist {
		display: flex;
		gap: var(--wp--preset--spacing--10);
		margin: 0;
		padding: var(--wp--preset--spacing--10);
		list-style: none;
		z-index: 1;
		top: 0;
		right: 0;

		li {
			min-width: 50px;
		}

		a {
			color: var(--wp--preset--color--charcoal-1);

			&[aria-selected="true"] {
				font-weight: 700;
			}
		}
	}

	.tab-section:not(.comment-preview) {
		margin-top: 0;
		padding: 0;
		border: none;
	}

	.tab-section[aria-hidden="true"] {
		display: none;
	}

	.tab-section:focus {
		background: #eee;
		outline: thin dotted;
	}

	.wp-editor-container,
	.comment-preview {
		border: 1px solid #dcdcde;
	}

	.wp-editor-area,
	.comment-preview {
		padding: var(--wp--preset--spacing--10);
	}

	.preview-content pre {
		padding: var(--wp--preset--spacing--10);
		background: var(--wp--preset--color--light-grey-2);
	}

	.wp-editor-area {
		min-height: 240px;
	}

	.form-submit {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--10);
	}

	@media screen and (min-width: 550px) {
		.form-submit {
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
		}

		.logged-in-as a {
			text-decoration: underline;
		}
	}
}

.wp-block-wporg-code-reference-changelog + .entry-meta {
	padding-top: 0 !important;
	border-top: none;
}

.wporg-version-filters {
	font-size: var(--wp--preset--font-size--small);

	form {
		display: flex;
		align-items: center;
	}

	.wp-block-wporg-form-wrapper {
		display: flex;
		align-items: center;
		gap: var(--wp--preset--spacing--20);
	}

	.wp-block-wporg-search-filters {
		margin-top: 0;
	}
}

.wp-block-wporg-resource-select {
	select {
		display: block;
		appearance: none;
		/* stylelint-disable-next-line function-url-quotes */
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.9899 10.8889L12.0018 14.3073L8.01367 10.8889L8.98986 9.75L12.0018 12.3316L15.0137 9.75L15.9899 10.8889Z' fill='%231E1E1E'/%3E%3C/svg%3E%0A");
		background-size: var(--wp--custom--select--icon-size);
		background-repeat: no-repeat;
		background-position: right var(--wp--custom--select--icon-position) center;
		background-color: transparent;
		padding-top: var(--wp--custom--select--padding-vertical);
		padding-right: calc(var(--wp--custom--select--icon-position) + var(--wp--custom--select--icon-size));
		padding-bottom: var(--wp--custom--select--padding-vertical);
		padding-left: var(--wp--custom--select--padding-left);
		font-size: var(--wp--custom--select--font-size);
		line-height: var(--wp--custom--select--line-height);
		border-radius: var(--wp--custom--select--border-radius);
		border: 0 solid transparent;
		font-family: inherit;
		cursor: pointer;
		color: inherit;
		white-space: nowrap;
		text-overflow: ellipsis;

		&:focus {
			outline: 1.5px solid var(--wp--preset--color--blueberry-1);
			outline-offset: -1.5px;
		}
	}

	.hideLabelFromVision {
		visibility: hidden;
	}
}

.wporg-search-controls {

	@media screen and (max-width: 768px) {
		display: block !important;
	}
}

.wporg-reference-list,
.wp-block-navigation .wporg-reference-list {
	list-style: none;

	> li,
	.wp-block-navigation-item {
		&:not(:last-child) {
			margin-bottom: var(--wp--preset--spacing--20);
		}
	}

	> a,
	.wp-block-navigation-item__content {
		color: var(--wp--custom--link--color--text);
		text-decoration: underline;
	}
}

.post-type-archive-command .wp-block-wporg-sidebar-container {
	--wp--custom--wporg-sidebar-container--spacing--margin--top: 110px;
}

.single-command {
	h3 {
		margin-bottom: var(--wp--preset--spacing--20);
	}

	dt {
		font-weight: 700;
	}

	table {
		border-collapse: collapse;

		code {
			background: revert;
			padding: revert;
			border-radius: revert;
		}

		tr {
			vertical-align: top;
			border-bottom: 1px solid var(--wp--preset--color--light-grey-1);
		}

		th,
		td {
			text-align: start;
			padding: 10px;
		}

		td > p {
			margin: 0;
		}
	}
}

.wp-block-table code {
	background-color: unset;
}

.wporg-developer-code-block {
	$half_padding: calc(var(--wp--preset--spacing--10) / 2);
	$border_radius: 2px;

	.wp-code-block-button-container {
		background-color: var(--wp--preset--color--light-grey-2);
		border-radius: $border_radius $border_radius 0 0;
		padding: var(--wp--preset--spacing--10);
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		gap: var(--wp--preset--spacing--10);

		.wp-block-button a {
			background-color: var(--wp--preset--color--white);
		}

		> span:last-child {
			display: flex;
			gap: 8px;
		}
	}

	@media screen and (min-width: 600px) {
		.wp-code-block-button-container {
			flex-direction: row;
			gap: 0;
		}
	}

	.wp-code-block-button-container + pre {
		background-color: var(--wp--preset--color--white);
		border-color: var(--wp--preset--color--light-grey-1);
	}

	.wp-block-code {
		border-radius: 0 0 $border_radius $border_radius;

		code {
			font-family: var(--wp--preset--font-family--monospace);
			background-color: unset;
		}
	}

	.line-numbers-rows > span::before {
		text-align: left;
		padding-left: var(--wp--preset--spacing--10);
	}
}
