/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

body[class] {
	// Height of the local header (breadcrumbs & subnav).
	--wp-local-header-offset: 57px;
}

.entry-content {
	// Parsed handbook content doesn't use image blocks, so large images are
	// missing the max-width and break out of the page container.
	p > img {
		max-width: 100%;
	}

	pre:not(.wp-block-code) {
		padding: 20px;
		background-color: #f7f7f7;
		border: 1px solid var(--wp--preset--color--light-grey-1);
		border-radius: 2px;
		overflow: scroll;
	}
}

.search-results .wp-block-post-excerpt {
	margin: var(--wp--preset--spacing--10) 0 var(--wp--preset--spacing--10);
}

.search-results .wp-block-post-excerpt__excerpt {
	margin: 0;
}

.wporg-filtered-search-form {
	display: block;
}

[dir="rtl"] {
	.is-sticky .wp-block-navigation.is-style-dropdown-on-mobile {
		.wp-block-navigation__responsive-container-open {
			right: unset;
			left: 0;
		}

		.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-close {
			right: unset;
			left: var(--wp--preset--spacing--60);
		}
	}
}

@media (min-width: 1440px) {
	.has-three-columns .wp-block-wporg-sidebar-container {
		--local--block-end-sidebar--width: 300px;
		--wp--style--global--wide-size: 1280px;
	}

	.has-three-columns {
		--local--block-start-sidebar--width: 260px;
		display: grid;
		grid-template-columns: var(--local--block-start-sidebar--width) 1fr;
		gap: var(--wp--preset--spacing--20);
	}
}

.wp-block-search.is-style-secondary-search-control {
	// Update border color in secondary search style, this site uses a light grey.
	--local--border-color: var(--wp--preset--color--light-grey-1);
}

.is-toc-heading a::after {
	/* stylelint-disable-next-line function-url-quotes */
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='13' viewBox='0 0 24 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.083 9.91H6.32a3.069 3.069 0 0 1 0-6.139h3.764v1.5H6.32a1.569 1.569 0 0 0 0 3.138h3.764v1.5Zm3.834-6.138h3.764a3.069 3.069 0 0 1 0 6.137h-3.764v-1.5h3.764a1.569 1.569 0 0 0 0-3.137h-3.764v-1.5ZM9.333 7.304h5.334v-1.5H9.333v1.5Z' fill='%233858E9'/%3E%3C/svg%3E%0A");
	height: calc(var(--local--icon-size) * 0.75);
	vertical-align: middle;
	margin-top: -0.15em;
}

@media (max-width: 781px) {
	.home-section-docs-api {
		padding-left: 0 !important;
		padding-right: 0 !important;

		.wp-block-column {
			padding-left: var(--wp--preset--spacing--edge-space) !important;
			padding-right: var(--wp--preset--spacing--edge-space) !important;

			&:first-child {
				border-bottom: 1px solid var(--wp--preset--color--light-grey-1);
			}
		}
	}
}

// Wrap meta on smaller screens. Double class needed to override core style.
.entry-meta.entry-meta {

	@media (max-width: 781px) {
		flex-wrap: wrap;

		> * {
			min-width: calc(50% - var(--wp--preset--spacing--20) / 2);
		}
	}

	@media (max-width: 479px) {
		> * {
			min-width: 100%;
		}
	}
}

.wporg-hero-graphic {
	overflow: hidden;
}

@media (max-width: 1320px) {
	.wp-block-image.wporg-hero-graphic img {
		margin-left: -1%;
		margin-right: -1%;
		max-width: 102%;
		width: 102%;
	}
}

.wporg-front-page-breadcrumb {
	position: unset; // We don't want it to be sticky on the front page, but removing is-sticky breaks the layout.
}

@media (min-width: 599px) {
	.wporg-front-page-breadcrumb h2 {
		display: none;
	}
}

.home {
	.search-wrap div.awesomplete > ul {
		top: 46px;
	}

	.entry-content {
		--wp--preset--spacing--60: clamp(40px, 5.55556vw, 80px);
	}
}

// Style code tags but not ones inside of the code block.
.wporg-has-embedded-code *:not(.wp-block-code):not(.wp-code-block-button-container) > code {
	padding: 4px 6px;
	background-color: var(--wp--preset--color--light-grey-2);
	font-size: var(--wp--preset--font-size--small);
	border-radius: 2px;
}

.wporg-dot-link-list a {
	position: relative;
	text-decoration: underline;
	margin-right: var(--wp--preset--spacing--10);
	padding-right: var(--wp--preset--spacing--10);

	&::after {
		content: "\b7";
		position: absolute;
		right: -3px;
	}

	&:last-child::after {
		display: none;
	}
}

.wp-editor-container {
	position: relative;
	border: 1px solid var(--wp--preset--color--charcoal-4);

	.quicktags-toolbar {
		padding: 5px;
		background-color: var(--wp--preset--color--white);
		border-bottom: none;

		input[type="button"] {
			background-color: var(--wp--preset--color--white);
			border: none;
			color: var(--wp--preset--color--charcoal-1);
		}
	}
}

.wp-editor-area {
	display: block;
	border: none;
}

.comment-form {
	position: relative;

	.tablist {
		display: flex;
		gap: var(--wp--preset--spacing--10);
		margin: 0;
		padding: var(--wp--preset--spacing--10);
		list-style: none;
		z-index: 1;
		top: 0;
		right: 0;

		li {
			min-width: 50px;
		}

		a {
			color: var(--wp--preset--color--charcoal-1);

			&[aria-selected="true"] {
				font-weight: 700;
			}
		}
	}

	.tab-section:not(.comment-preview) {
		margin-top: 0;
		padding: 0;
		border: none;
	}

	.tab-section[aria-hidden="true"] {
		display: none;
	}

	.tab-section:focus {
		background: #eee;
		outline: thin dotted;
	}

	.wp-editor-container,
	.comment-preview {
		border: 1px solid #dcdcde;
	}

	.wp-editor-area,
	.comment-preview {
		padding: var(--wp--preset--spacing--10);
	}

	.preview-content pre {
		padding: var(--wp--preset--spacing--10);
		background: var(--wp--preset--color--light-grey-2);
	}

	.wp-editor-area {
		min-height: 240px;
	}

	.form-submit {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--10);
	}

	@media screen and (min-width: 550px) {
		.form-submit {
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
		}

		.logged-in-as a {
			text-decoration: underline;
		}
	}
}

.wp-block-wporg-site-breadcrumbs a {
	color: var(--wp--preset--color--charcoal-1);
}

[class*="wp-block-wporg-code-reference"] {
	margin-top: var(--wp--preset--spacing--40);
}

.wp-block-wporg-code-reference-changelog + .entry-meta {
	padding-top: 0 !important;
	border-top: none;
}

.wporg-version-filters {
	font-size: var(--wp--preset--font-size--small);

	form {
		display: flex;
		align-items: center;
	}

	.wp-block-wporg-form-wrapper {
		display: flex;
		align-items: center;
		gap: var(--wp--preset--spacing--20);
	}

	.wp-block-wporg-version-select {
		display: flex;
		align-items: center;
		gap: var(--wp--preset--spacing--10);

		select {
			font-size: 13px;
			max-width: 80px;
		}
	}

	.wp-block-wporg-search-filters {
		margin-top: 0;
	}
}

.single-command {
	h3 {
		margin-bottom: var(--wp--preset--spacing--20);
	}

	dt {
		font-weight: 700;
	}

	table {
		border-collapse: collapse;

		code {
			background: revert;
			padding: revert;
			border-radius: revert;
		}

		tr {
			vertical-align: top;
			border-bottom: 1px solid var(--wp--preset--color--light-grey-1);
		}

		th,
		td {
			text-align: start;
			padding: 10px;
		}

		td > p {
			margin: 0;
		}
	}
}
