/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

body[class] {
	// Height of the local header (breadcrumbs & subnav).
	--wp-local-header-offset: 57px;
}

.search-results .wp-block-post-excerpt {
	margin: var(--wp--preset--spacing--10) 0 var(--wp--preset--spacing--10);
}

.search-results .wp-block-post-excerpt__excerpt {
	margin: 0;
}

.wporg-filtered-search-form {
	display: block;
}

.sidebar-container .is-link-to-top {
	display: none;
}

// Slot the search & table of contents into a floating sidebar on large screens.
@media (min-width: 1200px) {
	.sidebar-container {
		// Size of remaining space in the wide center column.
		--local--size-diff: calc(var(--wp--style--global--wide-size) - var(--wp--style--global--content-size));
		// This is a little bit of a magic number, the max space between content & sidebar.
		--local--content-gap: 145px;

		position: absolute;
		top: calc(var(--wp-global-header-offset, 0px) + var(--wp-local-header-offset, 0px));
		// Right offset should be "edge spacing" at minimum, otherwise calculate it to be centered.
		right: max(var(--wp--preset--spacing--edge-space), calc((100% - var(--wp--style--global--wide-size)) / 2));
		width: calc(var(--local--size-diff) - var(--local--content-gap));
		margin-top: var(--wp--preset--spacing--edge-space) !important;

		&.is-fixed-sidebar {
			position: fixed;
		}

		&.is-bottom-sidebar {
			position: absolute;
		}

		&.is-fixed-sidebar .is-link-to-top,
		&.is-bottom-sidebar .is-link-to-top {
			display: block;
		}
	}
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	--wp--custom--button--hover--color--text: var(--wp--preset--color--charcoal-1);
	--wp--custom--button--hover--color--background: var(--wp--preset--color--light-grey-2);
	padding: 0;
	border: none;
	border-radius: var(--wp--custom--button--border--radius);
	background: var(--wp--preset--color--white);
	color: var(--wp--preset--color--charcoal-1);

	.wp-block-search__input {
		padding-right: 0;
		border: none;
	}

	.wp-block-search__button {
		padding-top: calc(var(--wp--preset--spacing--20) * 0.5);
		padding-right: calc(var(--wp--preset--spacing--20) * 0.75);
		padding-bottom: calc(var(--wp--preset--spacing--20) * 0.5);
		padding-left: calc(var(--wp--preset--spacing--20) * 0.75);

		background: transparent;

		svg {
			fill: inherit;
		}
	}
}

.wp-block-search.is-style-secondary-search-control {
	// Update border color in secondary search style, this site uses a light grey.
	--local--border-color: var(--wp--preset--color--light-grey-1);
	// Add offset spacing above the search box to optically align with title.
	// See https://github.com/WordPress/wporg-documentation-2022/issues/36.
	margin-top: 16px;
}

@media (max-width: 781px) {
	.wp-block-column[style*="border-right-"] {
		border-bottom: 1px solid var(--wp--preset--color--light-grey-1);
		border-right: none !important;
	}

	.wp-block-column[style*="border-right-"][style*="padding-right"] {
		margin-left: calc(-1 * var(--wp--preset--spacing--edge-space)) !important;
		margin-right: calc(-1 * var(--wp--preset--spacing--edge-space)) !important;
		padding-left: var(--wp--preset--spacing--edge-space) !important;
		padding-right: var(--wp--preset--spacing--edge-space) !important;
	}

	.wp-block-column[style*="border-right-"] + .wp-block-column[style*="padding-left"] {
		padding-left: 0 !important;
	}
}

.wporg-hero-graphic {
	overflow: hidden;
}

@media (max-width: 1320px) {
	.wp-block-image.wporg-hero-graphic img {
		margin-left: -1%;
		margin-right: -1%;
		max-width: 102%;
		width: 102%;
	}
}

.wporg-front-page-breadcrumb {
	position: unset; // We don't want it to be sticky on the front page, but removing is-sticky breaks the layout.
}

@media (min-width: 599px) {
	.wporg-front-page-breadcrumb h2 {
		display: none;
	}
}

.home .entry-content {
	--wp--preset--spacing--60: clamp(40px, 5.55556vw, 80px);

	a {
		text-decoration: underline;
	}
}

// Style code tags but not ones inside of the code block.
.wporg-has-embedded-code *:not(.wp-block-code):not(.wp-code-block-button-container) > code {
	padding: 4px 6px;
	background-color: var(--wp--preset--color--light-grey-2);
	font-size: var(--wp--preset--font-size--small);
	border-radius: 2px;
}
